@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal; 
}
.outer-box{
    width: 100vw;
    height:100vh;
    background: linear-gradient(to top left,#d5bdaf,#edede9);
}
.inner-box{
    width: 400px;
    margin: 0 auto ;
    position: relative;
    top: 40%;
    transform:translateY(-50%) ;
    background: linear-gradient(to top left,#ffffffff,#ffffff33);
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px #715321;
    z-index: 2;
    backdrop-filter: blur(8px); 
}
.signin-header{
    font-size: 2.5rem;
    color: #212121;
}
.signin-header p{
    font-size: 0.9rem;
    color: #555554;

}
.signin-body{
    margin: 20px 0;     
}
.signin-body p{
    margin:10px 0;
}
.signin-body p label{
    display: block;
    font-weight: bold;
}
.signin-body p input{
    width: 100%;
    padding:10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    margin: 4px;
}
.signin-body p input[type="submit"]{
    background-color: #715321;
    border: none;
    color: white;
    cursor: pointer;
}
.signin-body p input[type="submit"]:hover{
    background-color: #555554;
}